/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |   |  J   |  L   |  U  |  Y  |  ;  |
// |  A  |  R  |  S  |  T  |  G  |   |  M   |  N   |  E  |  I  |  O  |
// |  Z  |  X  |  C  |  D  |  V  |   |  K   |  H   |  ,  |  .  |  /  |
//             |     | TAB | SPC |   | BKSP | ENTR | L3  |
                        bindings = <
   &kp Q      &kp W      &kp F       &kp P       &kp B      &kp J    &kp L       &kp U       &kp Y      &kp SEMI
   &mt LGUI A &mt LALT R &mt LCTRL S &mt LSHFT T &kp G      &kp M    &mt RSHFT N &mt RCTRL E &mt RALT I &mt RGUI O
   &kp Z      &kp X      &kp C       &kp D       &kp V      &kp K    &kp H       &kp COMMA   &kp DOT    &kp FSLH
                         &trans      &lt 2 TAB   &kp SPACE  &kp BSPC &lt 1 ENTER &tog 3
                        >;
                };

                 nav_layer {
// -----------------------------------------------------------------------------------------
// | F1 | F2 | F3 | F4  | F5  |  |     |      |  UP  |      | BTCLR |
// | F6 | F7 | F8 | F9  | F10 |  |     | LEFT | DOWN | RGHT |       |
// |    |    |    | F11 | F12 |  | BT0 | BT1  | BT2  | BT3  |  BT4  |
//           |    | ESC | DEL |  |     |      |      |
                        bindings = <
   &kp F1 &kp F2 &kp F3 &kp F4  &kp F5   &trans       &trans       &kp UP       &trans       &bt BT_CLR
   &kp F6 &kp F7 &kp F8 &kp F9  &kp F10  &trans       &kp LEFT     &kp DOWN     &kp RIGHT    &trans
   &trans &trans &trans &kp F11 &kp F12  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                 &trans &kp ESC &kp DEL  &trans       &trans       &trans
                        >;
                };

                sym_layer {
// -----------------------------------------------------------------------------------------
// | 1 | 2 | 3 | 4 | 5 |   |  6  | 7 | 8 | 9 | 0 |
// | $ | + | ( | ) | @ |   | "|" | - | = | _ | * |
// | ! | # | { | } | ~ |   |  &  | [ | ] | % | ^ |
//         |   |   |   |   |  \  | ` |   |
                        bindings = <
   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5     &kp N6   &kp N7    &kp N8    &kp N9    &kp N0
   &kp DLLR &kp PLUS &kp LPAR &kp RPAR &kp AT     &kp PIPE &kp MINUS &kp EQUAL &kp UNDER &kp STAR
   &kp EXCL &kp HASH &kp LBRC &kp RBRC &kp TILDE  &kp AMPS &kp LBKT  &kp RBKT  &kp PRCNT &kp CARET
                     &trans   &trans   &trans     &kp BSLH &kp GRAVE &trans
                        >;
                };

                num_layer {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  |  T   | Y  |  U   |  I  |  O  |
// | CTRL |  A  |  S  |  D  |  F  |  |  G   | H  |  J   |  K  |  L  |
// | SHFT |  Z  |  X  |  C  |  V  |  |  B   | N  |  M   |  P  |  ;  |
//              | ESC | ALT | SPC |  | BKSP | F4 |  L3  |
                        bindings = <
   &kp TAB   &kp Q &kp W   &kp E    &kp R      &kp T    &kp Y  &kp U  &kp I &kp O
   &kp LCTRL &kp A &kp S   &kp D    &kp F      &kp G    &kp H  &kp J  &kp K &kp L
   &kp LSHFT &kp Z &kp X   &kp C    &kp V      &kp B    &kp N  &kp M  &kp P &kp ;
                   &kp ESC &kp LALT &kp SPACE  &kp BSPC &kp F4 &tog 3
                        >;
                };
        };
};
